* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Open Sans, sans-serif;
}

::-webkit-scrollbar {
  height: 10px;
  width: 10px;
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #bbb;
  border: solid 2px #fff;
}

::-webkit-scrollbar-thumb:hover {
  background: #888;
}

body {
  background: rgb(192, 192, 192);
}

body.section-show {
  overflow: hidden;
}

body.section-show .section.active {
  transition: opacity 0.4s 1.2s ease;
  z-index: 99;
  opacity: 1;
  visibility: visible;
}

#container {
  overflow-x: hidden;
}

.section {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border: solid 4px #bbb;
  padding-top: 100px;
  z-index: -9;
  background: #fff;
  overflow-y: auto;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

.section-block > .container,
.section-block {
  position: relative;
}

.section-block {
  overflow: hidden;
}

.divider {
  position: relative;
  height: 2px;
  background: #333;
  width: 40px;
  display: block;
  margin: 15px 0;
}

.divider:before,
.divider:after {
  content: " ";
  width: 25px;
  height: 1px;
  background: #333;
  position: absolute;
  left: 0;
}

.divider.center {
  margin: auto;
}

.divider.center:before,
.divider.center:after {
  right: 0;
  margin: auto;
}
.divider:before {
  top: -6px;
}
.divider:after {
  bottom: -6px;
}

body.section-show .mask {
  position: absolute;
  top: 110px;
  height: 400px;
  width: 400px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 22;
  transform: rotate(45deg);
  overflow: hidden;
  animation: fill2 0.8s 0.4s both ease;
}

body .mask:before {
  content: " ";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
}
body.section-show .mask:before {
  animation: fill 0.4s both ease;
  background: #ccc;
}

@keyframes fill2 {
  0% {
    transform: rotate(45deg);
  }
  100% {
    z-index: 50;
    transform: rotate(0deg);
    height: 100%;
    width: 100%;
    top: 0;
    bottom: auto;
  }
}

@keyframes fill {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

body a.close-btn,
body.section-show .close-btn {
  opacity: 1;
  z-index: 100;
  -webkit-transition: opacity 0.4s 1.2s ease, background 0.3s ease;
  -moz-transition: opacity 0.4s 1.2s ease, background 0.3s ease;
  transition: opacity 0.4s 1.2s ease, background 0.3s ease;
  overflow: hidden;
}

.close-btn {
  position: fixed;
  height: 64px;
  width: 64px;
  cursor: pointer;
  display: block;
  top: 18px;
  right: 18px;
  opacity: 0;
  z-index: -99;
}

.close-btn > span {
  height: 3px;
  width: 40px;
  background: #bbb;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -20px;
  margin-top: -1.5px;
}

.close-btn > span:before {
  content: " ";
  position: absolute;
  top: 0;
  width: 0;
  height: inherit;
  background: #b7a389;
}

.close-btn > span:nth-of-type(1) {
  transform: rotate(45deg);
}

.close-btn > span:nth-of-type(2) {
  transform: rotate(-45deg);
}

.close-btn > span:nth-of-type(1):before {
  left: 0;
}

.close-btn > span:nth-of-type(2):before {
  right: 0;
}

.close-btn:hover > span {
  background: transparent;
}

.close-btn:hover > span:before {
  transition: all 0.3s ease;
  width: 100%;
}

.close-btn:hover > span:nth-of-type(2):before {
  transition-delay: 0.3s;
}

/* Home Section */

.home {
  padding-top: 10px;
  padding-bottom: 35px;
  position: relative;
}

.home-img {
  height: 400px;
  width: 400px;
  overflow: hidden;
  position: relative;
  z-index: 15;
  background: #f0f0f0;
  transform: rotate(45deg);
  transition: height 0.5s 0.3s ease, transform 0.5s 0.8s ease;
  border-radius: 0;
  margin: 100px auto;
  margin-bottom: 0;
}

.home-img > img {
  max-width: 100%;
  vertical-align: bottom;
  transform: rotate(-45deg) translate(-20px, 100px);
}

.home-title {
  position: relative;
  height: 400px;
  width: 400px;
  margin: auto;
  z-index: 10;
  margin-top: -400px;
  transform: rotate(45deg);
}

.home-title > span {
  position: absolute;
  display: block;
  width: 100%;
  color: rgb(114, 114, 114);
  text-align: center;
  font-size: 24px;
  display: block;
  line-height: 1em;
  text-align: center;
  z-index: 5;
  letter-spacing: 15px;
}

.t1 {
  left: 0;
  bottom: 0;
  transform: rotate(-90deg) translateY(-100%);
  transform-origin: 0% 0%;
}

.t2 {
  top: 5px;
  left: 0;
  transform: translateY(-100%);
}
.t3 {
  left: 0;
  bottom: 5px;
  transform: translateY(100%) rotate(180deg);
}

.home-navbar {
  margin: auto;
  height: 400px;
  width: 400px;
  margin-top: -400px;
  z-index: 20;
  transform: rotate(45deg);
  position: relative;
}

.home-navbar > ul {
  z-index: 99;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  left: 103%;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: -15px;
}

.home-navbar > ul > li {
  list-style: none;
  display: block;
}

.home-navbar > ul > li > a {
  font-weight: bold;
  display: block;
  font-size: 18px;
  padding: 25px 0;
  text-decoration: none;
  position: relative;
  line-height: 1em;
  text-align: left;
  color: #999;
}

.home-navbar > ul > li > a:before,
.home-navbar > ul > li > a:after {
  content: " ";
  height: 6px;
  width: 15px;
  background: #ccc;
  display: inline-block;
  display: none;
  transition: all 0.3s ease;
  vertical-align: middle;
  margin-right: 15px;
}

.home-navbar > ul > li > a:hover {
  color: #626567;
  transform: scale(1.1);
}

.home-navbar > ul > li > a:hover:after,
.home-navbar > ul > li > a:hover:before {
  width: 25px;
  background: #999;
}

.home-name {
  text-align: center;
  margin-top: 120px;
}

.home-name > h1 {
  font-size: 45px;
  font-weight: lighter;
  letter-spacing: 15px;
  font-family: "Playfair Display", serif;
  color: rgb(114, 114, 114);
  line-height: 1em;
  display: inline-block;
}

/* Home Section End */

/* About Section */

.about-section {
  padding-top: 0;
}

.about-me-section {
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
  border-bottom: solid 1px #f0f0f0;
}

.about-me-section .section-header {
  margin-bottom: 80px;
}

.about-me > p {
  line-height: 1.8em;
  margin-top: -0.4em;
}

.my-img {
  text-align: center;
}

.my-img > img {
  max-width: 100%;
}

.my-info {
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
  z-index: 10;
  margin-top: 20px;
  margin-bottom: 60px;
}

.my-info:before,
.my-info:after {
  content: " ";
  display: table;
}

.my-info:after {
  clear: both;
}

.my-info > li {
  margin-bottom: 20px;
  float: left;
  width: 25%;
}

.my-info > li > .inner {
  padding: 15px 0;
}

.my-info > li > * {
  line-height: 1em;
  margin: 0;
}

.my-info > li > .inner > h4 {
  font-size: 14px;
  letter-spacing: 4px;
  margin-right: 16px;
  margin-bottom: 8px;
  display: block;
  color: #333;
}

.my-info > li > .inner > p {
  font-size: 16px;
  color: #777;
  display: block;
}

.btn {
  display: inline-block;
  padding: 12px 22px;
  background: #333;
  color: #fff;
  transition: all 0.3s ease;
  border: none;
  text-decoration: none !important;
}

.btn:hover {
  background: #b7a389;
  color: #fff;
  transform: scale(1.05);
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.btn > svg {
  margin-right: 10px;
}
/* About Section End */


/* Resume Start */


/* Resume End */


/* Footer start */

.footer {
  padding: 30px 0;
  background: #fff;
  border-top: solid 1px #f0f0f0;
}

.footer h4 {
  font-size: 18px;
  letter-spacing: 4px;
  margin: 0;
  margin-top: 3.5px;
  font-style: italic;
  font-family: "Playfair Display", serif;
  color: #999;
}

.social-icons {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
  float: right;
}

.social-icons > li {
  display: inline-block;
  margin-left: 30px;
}

.social-icons > li > a {
  text-decoration: none;
  height: 26px;
  width: 26px;
  line-height: 26px;
  transform: rotate(45deg);
  transition: all 0.3s ease-in-out;
  display: block;
  text-align: center;
  color: #bbb;
  background: #f0f0f0;
  font-size: 0;
}

.social-icons > li > a > svg {
  transform: rotate(-45deg);
  display: inline-block;
  line-height: inherit;
  vertical-align: middle;
}

.linkedIn {
  color: blue;
}

.github {
  color: black;
}

.social-icons > li > a > i:before {
  font-size: 14px;
  line-height: 1em;
  vertical-align: middle;
}
.social-icons > li > a:hover {
  transform: scale(1.2) rotate(45deg);
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

/* Footer end */

/* Responsive */

@media (max-width: 992px) {
  .home {
    padding-bottom: 110px;
  }

  .home-name > h2 {
    font-size: 40px;
  }

  .home-img {
    height: 360px;
    width: 360px;
  }

  .home-img > img {
    transform: rotate(-45deg) translateY(45px);
  }

  .home-navbar {
    transform: rotate(0deg);
    margin-top: 110px;
    text-align: center;
    position: relative;
    margin-bottom: 0;
    width: auto;
    height: auto;
  }

  .home-navbar > ul {
    top: 0;
    left: auto;
    position: relative;
    display: inline-block;
    transform: none;
  }

  .home-navbar > ul > li {
    margin-bottom: 1px;
    display: block;
  }

  .home-navbar > ul > li > a:before,
  .home-navbar > ul > li > a:after {
    position: absolute;
    left: 0;
    height: 2px;
    top: 50%;
    margin-top: -1px;
    display: block;
    box-shadow: none;
    opacity: 0.5;
    display: none;
  }

  .home-navbar > ul > li > a:after {
    left: auto;
    right: 0;
  }

  .home-navbar > ul > li > a:hover:before {
    width: 15px;
  }

  .home-navbar > ul > li > a {
    text-align: center;
    padding: 22px 48px;
    display: block;
    font-size: 22px;
    letter-spacing: 2px;
    text-transform: none;
  }
  .home-title {
    margin-top: 125px;
    transform: none;
    text-align: center;
    width: 80%;
    height: auto;
    opacity: 1;
  }
  .home-title > span {
    position: relative;
    transform: none !important;
    display: block;
    margin: 25px 0;
    letter-spacing: 10px;
    font-size: 16px;
    text-transform: uppercase;
    top: auto !important;
    left: auto !important;
    bottom: auto !important;
  }

  .home-name {
    margin-top: 80px;
  }
}

@media (max-width: 768px) {
  .home-navbar {
    margin-top: 65px;
  }

  .home-img {
    width: 65%;
    padding-top: 65%;
    height: 0;
    margin-top: 120px;
  }
  .home-img > img {
    transform: rotate(-45deg) translateY(100px);
    position: absolute;
    bottom: 0;
    left: -40px;
  }
}

/* Responsive end */
